.container {
  display: "flex";
  flex-wrap: "wrap";
  background-color: whitesmoke;
  width: fit-content;
  height: 100%;
  margin: 4px;
  border-radius: 4px;
}

.chart {
  height: 300px;
  width: 600px;
}
